// PROCESS
// 1. Set basic variables & media query ranges
// 2. Style large blocks with bg colors for layout
// 3. Get general layout elements (block) sized for all media queries
// 4. Modify general layout elements with &
// 5. Secondary features grid (S --> L)
// 6. Typography & Image Sizes
// 7. Refactor the SCSS to make it dryer & simpler.
// 8. Set variables for common values.


// RESETS & FRAMEWORKS
@import "partials/reset";

// VARIABLES & MIXINS

$primary-color: white;
$secondary-color: black;
$tertiary-color: gray;


// MEDIA QUERY RANGES
$medium: "only screen and (min-width:600px)";
$large: "only screen and (min-width:900px)";

// GENERAL STYLES
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {

}

h1 {

}
