img(class="slide" src="./styles/images/cups-900x600.jpg")
img(class="slide" src="./styles/images/fox-900x600.jpg")
img(class="slide" src="./styles/images/spices-900x600.jpg")
img(class="slide" src="./styles/images/stories-900x600.jpg")