extends layout.jade

block title
  title Index

block content
  header
    include ./partials/header.jade
  div#main
    div.container
      div.episode-slider
        include ./partials/episode-slides.jade
      div.image-slider
        include ./partials/image-slides.jade
  footer#footer
    include ./partials/footer.jade