<!DOCTYPE html>
html(lang="en")
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
    script(src="/jquery.bxslider.min.js")
    link(rel='stylesheet', href='/styles/styles.css')
    link(href="/styles/jquery.bxslider.css" rel="stylesheet")
    meta(charset="UTF-8")
    block title

  body
    block content
    script(src="/app.js")